{% extends 'base.html.twig' %}


{% block body %}


{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}


    <link href="{{ asset('full-slider.css') }}" rel="stylesheet">
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <h1></h1>

   
    <ul>

        {#
            If you want to control the URL the user
            is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account" />
        #}

        <button type="submit">Login</button>

        <a href="{{ path('logout') }}"><button type="submit">Logout</button></a>

    </form>

    
{% endblock %}
