{% extends 'base.html.twig' %}


{% block player %}

<h1>DjSet</h1>
<ul>
    {% for DjSetEntity in DjSet %}
        <li>{{ DjSetEntity.getTitle }}   </li>
        <a href="{{ path('deleteSet',{'id':DjSetEntity.getId}) }}"><button type="submit">delete</button></a>
        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ DjSetEntity.getSoundCloudId}}&color=%23060606&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
    {% endfor %} 
</ul>


    <link href="{{ asset('full-slider.css') }}" rel="stylesheet">
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <h1></h1>

   
    <ul>

        {#
            If you want to control the URL the user
            is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account" />
        #}

        <button type="submit">Login</button>

        <a href="{{ path('logout') }}"><button type="submit">Logout</button></a>

    </form>

    
{% endblock %}
