<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>
    {% block title %} Czortez {% endblock %}
  </title>


  <!-- Bootstrap core CSS -->

  <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="css/full-slider.css" rel="stylesheet">
</head>

<body>


  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Welcome to the Czortez site !</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ path('index') }}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('about') }}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('gigs') }}">Gigs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('contact') }}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">



        <!-- Slide One - Set the background image for this slide in the line below -->


        <div class="carousel-item active" style="background-image: url('http://awesomefantasticfour.weebly.com/uploads/2/2/6/5/22652422/s125128719810410675_p4_i1_w1900.jpeg')">
          <div class="carousel-caption d-none d-md-block">
            <p>
              {% block player %} This is a template for a simple marketing or informational website. It includes a large callout called a
              jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
              {% endblock %}
            </p>

            <h3></h3>
            <p></p>
          </div>
        </div>

        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('http://www.thehideoutva.com/images/banner.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>About</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula magna sed dui iaculis ullamcorper. Mauris
              cursus hendrerit tortor a dictum. Suspendisse potenti. Aliquam vel lectus eros. Aliquam nulla ligula, feugiat
              non nisi at, ultrices vulputate ipsum. Maecenas auctor dolor tellus, eget laoreet dolor vestibulum aliquet.
              Curabitur fringilla, ex vitae efficitur malesuada, tellus odio sollicitudin magna, sit amet ultrices dolor
              mauris sed nibh. Etiam congue enim eu nibh luctus blandit. Ut auctor est et augue rutrum, nec varius dolor
              ultricies. Sed gravida leo pretium purus semper, ac blandit leo semper. Pellentesque congue ex ac augue sodales
              tristique. Maecenas eu tempor enim. Aenean et posuere justo. Aenean porta scelerisque odio, accumsan mollis
              sapien congue congue. In pretium tellus eu erat volutpat viverra. Nulla bibendum gravida erat convallis laoreet.
              Sed gravida tincidunt leo, non ultricies mi viverra et. Duis metus libero, commodo vitae luctus sit amet, pellentesque
              sit amet elit. Duis mauris mi, lacinia vitae venenatis at, pretium cursus libero. Praesent eget bibendum felis.
              Phasellus et metus nisi. </p>
          </div>
        </div>


        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('http://www.fiestatenerife.com/objects_pictures/objects/table/8NqTqi0pebRu9egdSJUi-3083774862.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Gigs</h3>
            <p>This is a description for the third slide.</p>
          </div>
        </div>


        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('http://www.fiestatenerife.com/objects_pictures/objects/table/8NqTqi0pebRu9egdSJUi-3083774862.jpg')">
          <div class="carousel-caption d-none d-md-block">

            <h3>Contact</h3>
            <p>This is a description for the third slide.</p>
          </div>
        </div>






        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>


        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
  </header>

  <!-- Page Content -->
  <section class="py-5" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT68hgSth77L8DCJjw4Ss2uASjkqTiqc1PXdJZ0iX7SbFvXagAw')">
    <div class="container">
      <h1></h1>

      <p>
        {% block body %} This is a template for a simple marketing or informational website. It includes a large callout called a
        jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique. {%
        endblock %}
      </p>







    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Czortez 2018</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript

================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script>
    window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')
  </script>


  <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
</body>

</html>