<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>
    {% block title %} Czortez {% endblock %}
  </title>


  <!-- Bootstrap core CSS -->

  <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="css/full-slider.css" rel="stylesheet">
</head>

<body>


  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">


    <div class="container">


      <a class="navbar-brand" href="{{ path('index') }}">Welcome to the Czortez site !</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ path('index') }}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('about') }}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('gigs') }}">Gigs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('contact') }}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" {% if activePage is defined and activePage=='index' %} class="active"
          {% endif %}></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1" {% if activePage is defined and activePage=='about' %} class="active"
          {% endif %}></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2" {% if activePage is defined and activePage=='gigs' %} class="active"
          {% endif %}></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3" {% if activePage is defined and activePage=='contact' %} class="active"
          {% endif %}></li>
      </ol>
      <div class="carousel-inner" role="listbox">



        <!-- Slide One - Set the background image for this slide in the line below -->


        <div class="carousel-item {% if  activePage is defined and  activePage == 'index' %} active {% endif %}" style="background-image: url('https://imageshack.com/a/img923/2228/glDtfr.jpg')">
          <div class="carousel-caption ">
            <p>
              {% block player %} This is a template for a simple marketing or informational website. It includes a large callout called
              a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
              {% endblock %}
            </p>

            <h3></h3>
            <p></p>
          </div>
        </div>

        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item {% if  activePage is defined and  activePage == 'about' %} active {% endif %}" style="background-image: url('https://imageshack.com/a/img922/7098/bXI6bn.jpg')">
          <div class="carousel-caption ">
            <h3>About</h3>
            <p>
              <h1>Czortez sounds and tastes different everytime, but It's always made to make u feel better - to restore your
                energy and high spirits. Enjoy:)</h1>
            </p>
          </div>
        </div>


        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item {% if  activePage is defined and  activePage == 'gigs' %} active {% endif %}" style="background-image: url('https://imageshack.com/a/img922/7098/bXI6bn.jpg')">
          <div class="carousel-caption ">
            <h3>Gigs</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc accumsan tortor lorem, nec iaculis ipsum sollicitudin
              quis. Quisque congue tincidunt finibus. Fusce quis vulputate nulla. Etiam nisi justo, efficitur non viverra
              non, facilisis vitae justo. Nullam elementum sem eros, a luctus mauris efficitur id. Integer massa ante, facilisis
              quis viverra sed, vehicula quis magna. Phasellus at elementum lorem. Fusce sit amet diam sit amet urna vulputate
              congue. Phasellus posuere tempus lectus ut ultricies. Duis placerat libero non orci volutpat, quis ornare justo
              egestas. Donec maximus tortor ac elit facilisis, non interdum magna blandit. Aliquam in blandit eros. Sed erat
              justo, tristique mattis ligula a, tincidunt aliquam erat. Praesent consectetur eros nisl, sit amet elementum
              nunc laoreet sed. Suspendisse potenti. Sed blandit massa at convallis dictum. Donec ornare lorem id convallis
              porttitor. Maecenas eros ligula, molestie vitae tempus eget, mattis suscipit dui. Curabitur sem lorem, viverra
              eu vestibulum eget, elementum egestas nulla. Quisque dignissim turpis vel purus mollis pretium. Donec aliquam
              tincidunt diam, eu tincidunt tellus gravida in. Nunc at finibus metus. Ut ultrices tristique leo vel mattis.
              Cras vulputate nunc in risus dictum, at pharetra risus lobortis. Vivamus at nulla eget est suscipit vestibulum
              sit amet varius ipsum. Nulla vulputate eget odio nec maximus. Morbi laoreet eros ut suscipit lobortis. Aliquam
              tellus massa, egestas et odio ut, mattis malesuada libero. Maecenas consequat scelerisque odio, non semper
              magna tempus vel. Suspendisse at diam vitae sapien tristique vehicula ac vitae mauris. Duis at risus facilisis,
              vulputate magna sit amet, maximus massa. Sed sed erat vel odio finibus vulputate vitae a massa. Nulla enim
              dolor, porttitor id aliquam ut, ullamcorper nec ante. Praesent tincidunt consectetur eros non pretium. In eu
              laoreet lorem, et cursus eros. Fusce non ex sed diam vestibulum aliquam. Nulla eu sem viverra, iaculis nibh
              eget, placerat nulla. Mauris commodo molestie dui semper pulvinar. Fusce tempus turpis enim, nec ultricies
              est viverra ut. In ultricies erat ut tristique commodo. Sed id ex at elit rhoncus vehicula. Praesent at maximus
              lacus. Donec a ipsum nec sem sollicitudin ultrices quis et tellus. Phasellus gravida lectus sed ultrices aliquet.
              Phasellus justo velit, ultricies eget pellentesque at, facilisis ac odio. Ut non lectus auctor, iaculis lacus
              vitae, rhoncus magna. .</p>
          </div>
        </div>


        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item {% if  activePage is defined and  activePage == 'contact' %} active {% endif %}" style="background-image: url('https://imageshack.com/a/img923/623/gKlnQu.jpg')">
          <div class="carousel-caption ">

            <h3>Contact</h3>
            <p>
              <h2><a href="mailto:booking@czortez.pl?cc=booking@czortez.pl">booking@czortez.pl</a></h2>
            </p>
          </div>
        </div>






        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon {% if  activePage is defined and  activePage == 'about' %} active {% endif %}" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>


        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
  </header>

  <!-- Page Content -->
  <section class="py-5" style="background-image: url('https://images.urbanoutfitters.com/is/image/UrbanOutfitters/39686613_001_s')">
    <div class="container">
      <h1></h1>

      <p>
        {% block body %} {% endblock %}
      </p>







    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Czortez 2018</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript

================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script>
    window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')
  </script>


  <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
</body>

</html>